/* GENERAL */
:root {
  --redMarvel: #f0141e;
  --lessBlack: #202020;

  --police1: "Roboto", sans-serif;
  --police2: "Comic Neue", cursive;
}
html {
  font-family: var(--police2);
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1200px;
  margin: auto;
}
.errorMessage {
  color: var(--redMarvel);
}
input {
  outline: none;
}

/* ------------------------------------------ */
/* HEADER */
.header {
  background-color: black;
  box-shadow: 6px 0 6px var(--redMarvel);
  color: white;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container > div:nth-child(1) {
  flex: 1;
}
.header .container > div:nth-child(2) {
  flex: 3;
  font-family: var(--police1);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
.header .container > div:nth-child(3) {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  height: 100px;
}
.header .container > div:nth-child(3) div {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .container > div:nth-child(3) div span {
  font-size: 35px;
  color: var(--redMarvel);
  margin-bottom: 10px;
}
.header button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: var(--redMarvel);
}
.header .container > div:nth-child(3) a {
  border: 1px solid var(--redMarvel);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}

/* ------------------------------ */
/* SIGN UP et LOGIN */
.formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  padding: 50px 0;
}
.formPage h1 {
  margin-bottom: 50px;
  font-family: var(--police1);
  font-weight: bold;
  font-size: 22px;
}
.formPage form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.formPage form h2 {
  font-family: var(--police1);
  margin: 15px 0;
}
.formPage form input:not(:last-child) {
  width: 300px;
  border: none;
  border-radius: 50px;
  font-family: var(--police2);
  font-size: 16px;
  line-height: 24px;
  padding: 5px 10px;
  margin-bottom: 30px;
  background-color: var(--lessBlack);
}
.formPage form input:last-child {
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-end;
  border: none;
  background-color: var(--redMarvel);
  color: white;
  padding: 7px 12px;
  font-family: var(--police2);
  font-size: 14px;
  border-radius: 15px;
}
.formPage a {
  color: var(--lessBlack);
  font-size: 14px;
  line-height: 16px;
}
.formPage a:hover {
  border-bottom: 1px solid var(--lessBlack);
}

/* ------------------------------------- */
/* DOWNLOADING  */
.download {
  height: calc(100vh - 200px);
  padding-bottom: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: var(--police1);
}

/* ---------------------------------------- */
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  color: var(--lessBlack);
}
.pagination > div:first-child {
  height: 20px;
  display: flex;
  align-content: flex-end;
}

.pagination > div:last-child {
  display: flex;
}
.pagination input[type="number"] {
  background-color: var(--lessBlack);
  border: none;
  width: 25px;
  font-size: 14px;
  text-align: end;
  font-family: inherit;
  padding-left: 5px 0;
  border-radius: 3px;
  margin-left: 50px;
  outline: none;
}
/* Chrome,Safari,Edge,Opera */
.pagination input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.pagination input[type="number"] {
  -moz-appearance: textfield;
}

/* ------------------------------------ */
/* PERSONNAGES et COMICS */
.page {
  background-color: black;
  padding-top: px;
  color: white;
}
.page > img {
  width: 100vw;
  height: 300px;
  padding-top: 2px;
  object-fit: cover;
  object-position: top;
}
.page > div {
  padding: 30px 0;
}
.page h1 {
  font-family: var(--police1);
  font-size: 28px;
  margin-bottom: 30px;
}
.page input[type="search"] {
  background-color: var(--lessBlack);
  width: 400px;
  height: 40px;
  font-family: var(--police2);
  font-size: 16px;
  padding: 7px 20px;
  border: none;
  border-radius: 30px;
  outline: none;
}
.topPage {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

/* -------------------------------------- */
/* FICHE CHARACTER et COMIC */
.card {
  display: flex;
  border: 1px solid var(--lessBlack);
  box-shadow: 0 0 10px var(--lessBlack);
  height: 210px;
  width: 590px;
  border-spacing: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}
.cardCh:hover {
  box-shadow: 0 0 10px var(--redMarvel);
}
.card:nth-child(even) {
  margin-left: 20px;
}
.card img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  object-position: top left;
  border-radius: 5px 0 0 5px;
}
.card .firstElement {
  display: flex;
}
.card .firstElement div {
  flex: 2;
  padding: 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.card .firstElement div::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.card .firstElement div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card .firstElement div h2 {
  font-size: 18px;
  line-height: 22px;
  font-family: var(--police1);
  font-weight: bold;
  margin-bottom: 15px;
}
.card .firstElement div p {
  font-size: 15px;
  line-height: 17px;
  text-align: justify;
}
.checkFavorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* --------------------------------------- */
/* COMICS'S CHARACTER */
.comicsCh {
  background-color: black;
  color: white;
  padding: 50px 0;
}
.comicsCh h1 {
  font-family: var(--police1);
  font-size: 20px;
  text-decoration: underline;
  color: rgb(112, 111, 111);
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.comicsCh span {
  font-weight: bold;
}

/* --------------------------------------- */
/* FAVORIS */
.favorisPage {
  background-color: black;
  color: white;
  padding: 40px 0;
  height: 100vh;
}
.favoris {
  display: flex;
}
.noFavorite {
  width: 600px;
}
.favCh {
  border-right: 1px solid var(--redMarvel);
  padding-right: 10px;
}
.favCo {
  border-left: 1px solid var(--redMarvel);
  padding-left: 10px;
}
.favoris h2 {
  font-family: var(--police1);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.favoris .card:nth-child(even) {
  margin-left: 0px;
}
.isFavorite,
.notFavorite {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 20px;
}
.isFavorite span {
  color: var(--redMarvel);
}
.notFavorite {
  color: var(--lessBlack);
}
