/* GENERAL */
:root {
  --redMarvel: #f0141e;
  --lessBlack: #202020;

  --police1: "Roboto", sans-serif;
  --police2: "Comic Neue", cursive;
}
html {
  /* font-family: "Marvel", sans-serif; */
  font-family: var(--police2);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1200px;
  margin: auto;
  /* border: 1px solid black; */
}

/* ------------------------------------------ */
/* HEADER */
.header {
  background-color: black;
  box-shadow: 6px 0 6px var(--redMarvel);
  color: white;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container > div:nth-child(1) {
  /* border: 1px solid red; */
  flex: 1;
}
.header .container > div:nth-child(2) {
  /* border: 1px solid white; */
  /* height: 60px; */
  flex: 3;
  font-family: var(--police1);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.header .container > div:nth-child(3) {
  /* border: 1px solid red; */
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  height: 100px;
}
.header .container > div:nth-child(3) div {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .container > div:nth-child(3) div span {
  font-size: 35px;
  color: var(--redMarvel);
  margin-bottom: 10px;
}
.header button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: var(--redMarvel);
}
.header .container > div:nth-child(3) a {
  border: 1px solid var(--redMarvel);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}
/* ------------------------------ */
/* SIGN UP et LOGIN */
.formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  padding: 50px 0;
}
.formPage h1 {
  margin-bottom: 50px;
  /* background-color: var(--lessBlack); */
  /* width: 100vw; */
  /* text-align: center; */
  font-family: var(--police1);
  font-weight: bold;
  font-size: 22px;
  /* line-height: 50px; */
  /* color: white; */
}
.formPage form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.formPage form h2 {
  font-family: var(--police1);
  margin: 15px 0;
}
.formPage form input:not(:last-child) {
  width: 300px;
  /* border: 1px solid var(--redMarvel); */
  border: none;
  border-radius: 50px;
  font-family: var(--police2);
  font-size: 14px;
  line-height: 24px;
  padding: 5px 10px;
  margin-bottom: 30px;
  background-color: var(--lessBlack);
}
.formPage form input:last-child {
  cursor: pointer;
  margin-top: 20px;
  /* width: 100px; */
  align-self: flex-end;
  border: none;
  background-color: var(--redMarvel);
  color: white;
  padding: 7px 12px;
  font-family: var(--police2);
  font-size: 14px;
  border-radius: 15px;
}
.formPage a {
  color: var(--lessBlack);
  font-size: 14px;
  line-height: 16px;
}
.formPage a:hover {
  border-bottom: 1px solid var(--redMarvel);
}
/* ------------------------------------- */
/* DOWNLOADING  */
.download {
  height: calc(100vh - 200px);
  padding-bottom: 200px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: var(--police1);
}
/* ---------------------------------------- */
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  color: var(--lessBlack);
}
.pagination > div:first-child {
  /* border: 1px solid white; */
  /* padding-top: 20px; */
  height: 20px;
  display: flex;
  align-content: flex-end;
}

.pagination > div:last-child {
  /* border: 1px solid white; */
  display: flex;
  /* flex-direction: column; */
  /* align-content: flex-end; */
}
.pagination input[type="number"] {
  background-color: var(--lessBlack);
  border: none;
  width: 25px;
  font-size: 14px;
  text-align: end;
  font-family: inherit;
  padding-left: 5px 0;
  border-radius: 3px;
  margin-left: 50px;
  outline: none;
}
/* Chrome,Safari,Edge,Opera */
.pagination input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.pagination input[type="number"] {
  -moz-appearance: textfield;
}
/* ------------------------------------ */
/* PERSONNAGES et COMICS */
.page {
  background-color: black;
  padding-top: px;
  color: white;
}
.page > img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
.page > div {
  padding: 30px 0;
}
.page h1 {
  font-family: var(--police1);
  font-size: 28px;
  margin-bottom: 30px;
}
.page input[type="search"] {
  background-color: var(--lessBlack);
  width: 400px;
  height: 40px;
  font-family: var(--police2);
  font-size: 16px;
  padding: 7px 20px;
  border: none;
  border-radius: 30px;
  outline: none;
}
.topPage {
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

/* -------------------------------------- */
/* FICHE CHARACTER et COMIC */
.card {
  display: flex;
  border: 1px solid var(--lessBlack);
  box-shadow: 0 0 8px var(--lessBlack);
  height: 200px;
  width: 590px;
  border-spacing: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 0 10px var(--redMarvel);
}
.card:nth-child(even) {
  /* border: 2px solid red; */
  margin-left: 20px;
}
.card img {
  height: 100%;
  width: 200px;
  /* flex: 1; */
  object-fit: cover;
  object-position: top left;
}
.card .firstElement {
  display: flex;
}
.card .firstElement div {
  flex: 2;
  padding: 10px 10px;
  /* padding-left: 10px; */
  box-sizing: border-box;
}
.card .firstElement div h2 {
  font-size: 18px;
  line-height: 22px;
  font-family: var(--police1);
  font-weight: bold;
  margin-bottom: 15px;
}
.card .firstElement div p {
  font-size: 15px;
  line-height: 17px;
  text-align: justify;
}
.checkFavorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* --------------------------------------- */
/* temporaire */
/* .page {
  background-color: var(--lessBlack);
} */

/* .container {
  width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
} */
