/* GENERAL */
:root {
  --redMarvel: #f0141e;
  --lessBlack: #202020;

  --police1: "Roboto", sans-serif;
  --police2: "Comic Neue", cursive;
}
html {
  /* font-family: "Marvel", sans-serif; */
  font-family: var(--police2);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1200px;
  margin: auto;
  /* border: 1px solid black; */
}

/* ------------------------------------------ */
/* HEADER */
.header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container > div:nth-child(1) {
  /* border: 1px solid red; */
  flex: 1;
}
.header .container > div:nth-child(2) {
  /* border: 1px solid white; */
  /* height: 60px; */
  flex: 3;
  font-family: var(--police1);
  font-weight: bold;
  font-size: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.header .container > div:nth-child(3) {
  /* border: 1px solid red; */
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .container > div:nth-child(3) div {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .container > div:nth-child(3) div span {
  font-size: 35px;
  color: var(--redMarvel);
  margin-bottom: 10px;
}
.header button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: var(--redMarvel);
}
.header .container > div:nth-child(3) a {
  border: 1px solid var(--redMarvel);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}

/* ------------------------------------ */
/* temporaire */
.page {
  background-color: var(--lessBlack);
}

/* .container {
  width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
} */
.logo {
  height: 100px;
}
.card {
  display: flex;
  border: 2px solid black;
  height: 200px;
  width: 500px;
  border-spacing: 10px;
}
.card img {
  height: 100%;
}
